<!DOCTYPE html>
<html>
  <body>
    <h4> Here's your follower activity for the week: </h4>
    <p>
      Your current follower count is: <br>
      New Followers: <%= %> <br>
      Unfollowers: <%= %>
    </p>
    <%= yield %>
  </body>
</html>
